@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');



.total__expense{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}