.Expense__List{
    padding-top: 30px;
}


.Expense__Heading{
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.Expense__items>li{
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px 20px;
    margin: 10px 0;
    box-shadow: 5px 10px 18px #888888;
}

.Plus{
    border-right: 3px solid#2ecc71;
}

.minus{
    border-right: 3px solid red;
}


button{
    cursor: pointer;
}

li> .Delete__Btn{
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: -85px; 
    transform: translate(1900%,-50%); 
    opacity: 0; 
    transition: opacity .3s ease; 
}

.Expense__items >li:hover >.Delete__Btn{
    opacity: 1;
}
