@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');

.header{
    display: flex;
    justify-content: center;
    font-family: 'Syne Tactile', cursive;
}

.heading{
    padding-top: 20px;
}